body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
 }

.block-1 {
    height: 100vh;
    background-image: url(../images/beach.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
   }
   .text {
    color: brown;
    text-align: center;
    padding: 200px;
    padding-top: 100px;
    max-width: 600px;
    margin: 0 auto; /* strādā tikai ar max-width: ja ir display flex, tad max width un margin 0 auto nevajag */
   }
   button {
       background: none;
       color: brown;
       border: brown solid 2px;
       font-weight: bold;
       border-radius: 5px;
       padding: 10px 5 px;
       cursor: pointer;
   }
   
   .block-2 {
       background-color: brown;
       color: white;
       padding: 20px;
   }

   .block-3 {
       background-color: white;
       color: brown;
       justify-content: space-between;
       display: flex;
       flex-wrap: wrap;
       flex-direction: row;
       justify-content: center;
       align-items: stretch;
       padding: 20px;
   }
   .block-4-wrapper {
       display: flex;
   }
    .box-2   {
       background: brown;
       padding: 20px;
       color: white;
       flex-grow: 1;
   }
   .box-2-special {
       color: brown;
       background: white;
       padding: 20px;
   }
