body {
    background-color: lightgrey;
    
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 200px auto;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    color: #666;
   }
img {
    max-width: 50px;
}
.login-form-input {
height: 20px;
color: #666;
border-color: 1px #666 solid;
border-radius: 5px;
}
.login-form-input-email {
border-bottom-left-radius: 0;
border-bottom-right-radius: 0;
border-bottom: 0;
}
.login-form-input-password {
border-top-left-radius: 0;
border-top-right-radius: 0;
}
[type="checkbox"] {
    margin: 10px;
}
.button {
    background-color: blueviolet;
    color: wheat;
    padding: 5px 25px;
    margin: 10px;
    
}